<!DOCTYPE html>
<html>
<head>
<title>Ujjwal Thapa - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8">

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag('headshot.jpg', alt: 'Thapa') %>
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Ujjwal Thapa</h1>
			<h2 class="quickFade delayThree">Engineer</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>email: <a href="mailto:ujjwalthapa2307@ioe.edu.np" target="_blank">ujjwalthapa2307@ioe.edu.np</a></li>
				<li>linkedin: <a href="https://www.linkedin.com/in/ujjwal-thapa-353829142/">www.ujjwalthapa.com</a></li>
				<li>github account: <a href="https://github.com/ujjwalthapa2307">ujjwalthapa2307</a></li>
				<li>mobile: 09038013909</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>A hardware service engineer of electro-mechanical machine with 5 years of experience has shifted his
						career in web development and highly interested in programming world.I love to solve the problems and puzzle games.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Software Developer Intern in Rights Inc. Co.</h2>
					<p class="subDetails">Sept 2019 - Present</p>
					<p>- Writing server-side web application logic in Ruby with Rails Framework.Front end programming in JavaScript with Vue.js framework.</p>
					<p>- Experience with CSS, HTML5, JavaScript and Bootstrap 4 framework.</p>
					<p>- version control with git and github</p>
					<p>- Good ability to ensure database reliability with MySQL</p>
				</article>
				<br/>

				<article>
					<h2>Assistant Manager and Senior Service Engineer at Imperio Global Pvt.ltd</h2>
					<p class="subDetails">2014 May – 2019 July</p>
					<p>- Carrying out repairs and installations of electromechanical equipment especially CTP (Computer to Plate), Laser Cutting Machine, CNC Routers and Fiber Marking Machine. </p>
					<p>- Solving the issues of hardware and software at the customer’s site.</p>

				</article>

				<article>
					<h2>Part-time Lecturer,Institute of Engineering, Tribhuvan University</h2>
					<p class="subDetails">November 2014 - November 2016</p>
						<p>- Taking theory and practical classes of C- programming language and Digital Logic.</p>
						<p>- Helping the course design and construct tests and prepare studying materials.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Bootstrap4</li>
					<li>Github</li>
					<li>Ruby</li>
					<li>Ruby on Rails</li>
					<li>Vue.js</li>
					<li>Latex</li>
					<li>Chrome Developer Tools</li>
					<li>CSS</li>
					<li>C- Programming</li>
					<li>Matlab</li>
					<li>C++</li>
					<li>Java</li>
					<li>Adobe Photoshop</li>
					<li>MySQL</li>
					<li>JavaScript</li>
					<li>HTML5</li>
					<li>CCNA</li>
					<li>Digital Circuits</li>
					<li>Analog Circuits</li>
					<li>Microprocessor</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>

			<div class="sectionContent">
				<p>Nepali, Hindi, English, Japanese</p>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Institute of Engineering, IOE, Tribhuvan University</h2>
					<p class="subDetails">Master In Information and Communication Engineering</p>
					<p>Digital Image Processing, Color Image Processing, Nano-technology, Information and Communication Engineering</p>
				</article>

				<article>
					<h2>Kathmandu Engineering College</h2>
					<p class="subDetails">Bachelor in Electronics and Commuincation Engineering</p>
					<p>Bio-Medical Engineering, Avionics, Semiconductor Devices, Analog and Digital Commuincation</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>RESEARCH ARTICLES AND PROJECTS</h1>
			</div>

			<div class="sectionContent">
					<p> Breast Cancer Detection in Mammography Using K-Means Clustering Algorithms and Classification of Breast
							Masses</p>
					<p>Research Published and Presented in: IOE Graduate Conference and was awarded as best poster presentation.</p>
					<p>Wireless ECG (Electrocardiogram) Telemetry System</p>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>TRAINING</h1>
			</div>

			<div class="sectionContent">
					<p> Level 1, 2 and 3 CTP (computer to plate) training from CRON Machinery And Electronics, Hangzhou, China</p>
					<p>CCNA 4 month training from laba institute, Amanagar Kathmandu</p>
					<p>Advanced java 4 month training from Broadway Infosys, Baneshwor, kathmandu</p>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>References</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Dr. Dibakar Raj Pant</h2>
					<p class="subDetails">Associate Professor, Institute of Engineering, IOE, Tribhuvan University</p>
					<p>Email: pdibakar@gmail.com , Mobile No: +977-9841500525</p>
				</article>

				<article>
					<h2>Firdaus Taib</h2>
					<p class="subDetails">Engineer,Hangzhou Cron Machinery & Electronic Co.Ltd </p>
					<p>Email: firdaus@cron.com.cn Mobile No: +61 193668487</p>
				</article>

				<article>
					<h2>Manish Jain</h2>
					<p class="subDetails">Managing Director Imperio Global Pvt. Ltd. </p>
					<p>Email: mj@imperio.com.np Mobile No: +977 9851031710</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
</body>
</html>
